<br>
<br>
<div class="panel panel-default">
    <div class="panel-body">
        <app-basics></app-basics>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <app-preferences></app-preferences>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                <app-classes></app-classes>
            </div>
            <div class="col=md-7">
                <!-- <app-search></app-search> -->
            </div>
        </div>
    </div>
</div>