.classes {
    margin-left: 40px;
    position: absolute;
    top: 40%;
    left: 30%;
}
.instructions {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}