<h2 style="text-align: center;"> Weekly Schedule </h2>


<div class='panel-body'>  
    <div class='table-responsive'>  
        <table class='table'>  
            <thead>  
                <tr>  
                    <th></th>
                    <th>1am</th>  
                    <th>2am</th>  
                    <th>3am</th>  
                    <th>4am</th>  
                    <th>5am</th>  
                    <th>6am</th>  
                    <th>7am</th>  
                    <th>8am</th>  
                    <th>9am</th>  
                    <th>10am</th>  
                    <th>11am</th>  
                    <th>12pm</th>  
                    <th>1pm</th> 
                    <th>2pm</th>  
                    <th>3pm</th>   
                    <th>4pm</th>
                    <th>5pm</th>  
                    <th>6pm</th>  
                    <th>7pm</th>  
                    <th>8pm</th>  
                    <th>9pm</th>  
                    <th>10pm</th>  
                    <th>11pm</th>  
                    <th>12am</th>  
                </tr>  
            </thead>  
            <tbody> 
                <tr *ngFor="let time of times;">  
                    <td>{{time.dayOfWeek}}</td>
                    <td>{{time.time1}}</td>  
                    <td>{{time.time2}}</td>  
                    <td>{{time.time3}}</td>  
                    <td>{{time.time4}}</td>  
                    <td>{{time.time5}}</td>  
                    <td>{{time.time6}}</td>  
                    <td>{{time.time7}}</td>  
                    <td>{{time.time8}}</td>  
                    <td>{{time.time9}}</td>  
                    <td>{{time.time10}}</td>  
                    <td>{{time.time11}}</td>  
                    <td>{{time.time12}}</td>  
                    <td>{{time.time1b}}</td>  
                    <td>{{time.time2b}}</td>  
                    <td>{{time.time3b}}</td>  
                    <td>{{time.time4b}}</td>  
                    <td>{{time.time5b}}</td>  
                    <td>{{time.time6b}}</td>  
                    <td>{{time.time7b}}</td>  
                    <td>{{time.time8b}}</td>  
                    <td>{{time.time9b}}</td>  
                    <td>{{time.time10b}}</td>  
                    <td>{{time.time11b}}</td>  
                    <td>{{time.time12b}}</td>  

                </tr>  
            </tbody>  
        </table>  
    </div>  
</div>  

      