.searchbar {
    margin-top: 40px;
    margin-left: 350px;
    height: 70px;
    width: 700px;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}