<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-brand title">Study Buddy Finder</p>
        </div>
    </div>

    <div class="navbar-default">
        <div>
            <button class="btn btn-primary cal" style ='float: left;' href="#" routerLink="/calendar">Calendar</button>
            <button class="btn btn-success settings" style ='float: right; 'href="#" routerLink="/settings">Settings</button>
        </div> 
    </div>
</nav>