<div class="instructions">
    <p>If this is your first time on the app, click settings to make your own profile.</p>
</div>
<div class="container">
    <div class="main">
        <button class="btn btn-primary c1" routerLink="/search-results">CS124</button>
        <button class="btn btn-primary c1" routerLink="/search-results">CS100</button>
        <button class="btn btn-primary c1" routerLink="/search-results">PHYS211</button>
        <button class="btn btn-primary c1" routerLink="/search-results">MATH241</button>
        <button class="btn btn-primary c1" routerLink="/search-results">ENG100</button>
        <button class="btn btn-primary c1" routerLink="/search-results">RHET105</button>
    </div>
</div>